.blog-post-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

pre {
  :first-child {
    padding-top: 0.5rem !important;
  }
  :last-child {
    padding-bottom: 0.5rem !important;
  }
}

figure {
  img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
  }
}

blockquote {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.post-title {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  font-size: 36px;
}

p {
  line-height: 1.75rem;
}

.post-meta {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  line-height: 2rem;
}

.post-meta-item {
  list-style-type: none;
  font-weight: 500;
}

.post-meta-item-category {
  text-decoration: 0;
  color: #000;
}

.post-content {
  margin-bottom: 3rem;
}

.post-author-block-img {
  border-radius: 20rem;
  width: 7.5rem;
}

.post-author-block-container {
  display: flex;
  flex-direction: row;
}

.post-author-block-sm {
  padding: 0;
  display: flex;
  flex-direction: row;
  li {
    padding-right: 0.75rem;
    :last-child {
      padding-right: 0;
    }
  }
}

.post-author-block-name {
  font-weight: 500;
}

.post-author-block-sm-item {
  list-style-type: none;
}

.prev-next-post-container {
  display: flex;
  flex-direction: row;
  height: 10rem;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  .previous-post {
    width: 50%;
    text-align: center;
  }

  .next-post {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .prev-next-post-text {
    font-weight: 500;
  }
}

@media (min-width: 320px) {
  .post-author-block-container {
    flex-direction: column;
    align-items: center;
  }
  .post-author-block-img {
    width: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .post-author-block-details {
    display: flex;
    flex-direction: column;
  }

  .post-author-block-name {
    margin-right: 0.5rem;
  }

  .post-author-block-title {
    font-weight: 500;
  }
  .post-author-block-sm {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .post-author-block-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .post-author-block-img {
    width: 7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .post-author-block-title {
    margin-bottom: 1rem;
  }
  .post-title {
    text-align: center;
  }
  .post-meta {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .post-author-block-container {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    img {
      margin-right: 2rem;
    }
  }
  .post-author-block-details {
    display: flex;
    flex-direction: column;
    .post-author-block-details-top {
      display: flex;
      flex-direction: row;
      .post-author-block-name {
        margin-bottom: 0;
      }
      .post-author-block-sm {
        margin-bottom: 0;
      }
    }
  }
  .post-meta {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    :first-child::after {
      content: '/';
      margin: 0 0.5rem;
    }
    :nth-child(2)::after {
      content: '|';
      margin: 0 0.5rem;
    }
    li:last-child:after {
      content: none;
    }
    .post-meta-item-category {
      content: '/';
      margin: 0 0.25rem;
      li:last-child:after {
        content: none;
      }
    }
  }
}

@media (min-width: 2000px) {
  .blog-post-container {
    max-width: 80%;
  }
}
