.homepage-container {
  .hero-details {
    text-align: center;
  }
  .hero-name {
    font-size: 32px;
    font-weight: 700;
  }
  .hero-title {
    font-size: 18px;
    font-weight: 700;
  }
  .social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    li {
      list-style-type: none;
      a {
        list-style-type: none;
        font-size: 22px !important;
        color: inherit;
      }
    }
    .fa-github {
      margin-right: 0.5rem;
    }
    .fa-linkedin {
      margin-left: 0.5rem;
    }
  }

  .profile-image {
    width: 100%;
    height: auto;
  }
  .about-me-container {
    width: 100%;
  }
}

.homepage-section {
  margin-bottom: 5rem;
}

@media screen and (min-width: 1250px) {
  .homepage-hero {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: center;
    .profile-image {
      width: 100%;
    }
    .hero-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 3rem;
      .hero-title {
        font-size: 26px;
      }
    }
  }
  .about-me-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    > div {
      flex: 1;
      width: 50%;
      margin-right: 2rem;
    }
    .about-me-right {
      margin-right: 0px;
    }
  }
  .about-me-text-container > p {
    margin: 0.5rem auto;
    max-width: 90%;
  }
}
