.project-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.back-button-project {
  margin-bottom: 1rem;
}

.back-to-portfolio-text {
  margin-left: 1rem;
}

.project-page-title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.project-page-category {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0.75rem;
  padding: 0;
}

.project-main-image {
  width: 100%;
  height: auto;
}

div.project-body > div > p:last-of-type {
  margin-bottom: 2rem;
}

.project-url {
  font-weight: 700;
}

.project-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.project-page-image {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.project-details-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .project-container {
    width: 80%;
  }

  .project-page-image {
    width: 80%;
  }
}
