@import './layout';

div[data-ui='NextStudioLayout'] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

// Navbar

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 30px 50px;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .navbar-link {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
  }

  .navbar-link:not(:last-child) {
    margin-right: 15px;
  }

  .active {
    border: 1.5px solid;
    border-color: inherit;
  }
}

// Theme Toggle Button

.theme-toggle-button {
  cursor: pointer;
  &.light {
    color: $black-2;
  }

  &.dark {
    border-color: $white;
  }
}

// Footer

.footer-container {
  text-align: center;
  width: 100%;
  bottom: 0;
  .footer-text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    padding-bottom: 0.9rem;
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 850px) {
  .navbar-container {
    justify-content: space-between;
  }
}

// Author Avatar

.post-author-block-img {
  border-radius: 25rem;
  width: 5rem;
}

.post-author-block-container {
  display: flex;
  flex-direction: row;
}

.post-author-block-sm {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  li {
    padding-right: 0.75rem;
    :last-child {
      padding-right: 0;
    }
    a {
      color: inherit;
    }
  }
}

.post-author-block-name {
  font-weight: 700;
}

.post-author-block-sm-item {
  list-style-type: none;
}

.post-author-block-details-top {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  padding: 0;
}

@media (min-width: 320px) {
  .post-author-block-container {
    flex-direction: column;
    align-items: center;
  }
  .post-author-block-img {
    width: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .post-author-block-details {
    display: flex;
    flex-direction: column;
  }

  .post-author-block-name {
    margin: 0;
    margin-right: 0.5rem;
  }

  .post-author-block-title {
    font-weight: 700;
  }
  .post-author-block-sm {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .post-author-block-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .post-author-block-img {
    width: 7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .post-author-block-title {
    margin-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  .post-author-block-container {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    img {
      margin-right: 2rem;
      margin-top: 2rem;
    }
  }
  .post-author-block-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    .post-author-block-details-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
    }
  }
}
