nav {
  background-color: cadetblue;
  height: 100%;
}
.container {
  button {
    border: none;
  }
}

.nav-link {
  text-align: right;
}

@media (min-width: 800px) {
  nav {
    .container {
      max-width: 95% !important;
    }
  }
}
